html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*IF YOU CHANGE HEIGHT OR WIDTH DO IT IN MAIN.JS ALSO*/
/*NEGATIVE MARGIN IS HALF OF WIDTH AND HEIGHT*/
#canvas {
    background-color: inherit;
    /*border: 1px solid white;*/
    border-radius: 235px;
    left:50%;
    margin:-336px 0 0 -224px;
    position:fixed;
    top:50%;
    z-index: 100;
}

#dialogue {
    width: 896px;
    /*border: 1px solid white;*/
    text-align: center;
    height: 336px;
    left:50%;
    margin:112px 0 0 -448px;
    position:fixed;
    top:50%;
    z-index: 100;
    padding: 50px 10px;
    font-family: 'Arial', 'serif';
    font-size: 32px;
    color: white;
}
