html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*IF YOU CHANGE HEIGHT OR WIDTH DO IT IN MAIN.JS ALSO*/
/*NEGATIVE MARGIN IS HALF OF WIDTH AND HEIGHT*/
#canvas {
    background-color: inherit;
    border: 1px solid white;
    left:50%;
    margin:-224px 0 0 -224px;
    position:fixed;
    top:50%;
    z-index: 100;
}

#console {
    background-color: inherit;
    border: 1px solid white;
    color: yellow;
    font-size: 28px;
    font-weight: bold;
    height: 18%;
    left:3%;
    padding: 25px;
    position:fixed;
    top:75%;
    width: 90%;
    z-index: 100;
}
