html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*IF YOU CHANGE HEIGHT OR WIDTH DO IT IN MAIN.JS ALSO*/
/*NEGATIVE MARGIN IS HALF OF WIDTH AND HEIGHT*/
#canvas {
    background-color: inherit;
    /*border: 1px solid white;*/
    border-radius: 235px;
    left:50%;
    margin:-336px 0 0 -224px;
    position:fixed;
    top:50%;
    z-index: 100;
}
